body {
  font-family: "Poppins", sans-serif;
  background-color: whitesmoke;
  color: #084475;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 7px 7px 13px 0px rgba(0, 2, 4, 0.22);
  padding: 15px;
  transition: all 0.3s ease-out;
  background-color: #469bd2;  
  width: 28%;
}

.card h2 {
  font-size: 25px;
}

.card p {
  color: #32373c;
  font-size: 15px;
}

.card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.todos-os-cartoes {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
  justify-content: center;
  margin: 30px;
}


