body {
  font-family: "Poppins", sans-serif;
  background-color: whitesmoke;
  color: #084475;
}

.card {
  border-radius: 10px;
  box-shadow: 7px 7px 13px 0px rgba(0, 2, 4, 0.22);
  padding: 15px;
  margin: 30px;
  width: 350px;
  transition: all 0.3s ease-out;
  color: #084475;
  background-color: #469bd2;  
  font-size: 17px;
}
.card p {
  display: flex;
  color: #32373c;
  font-size: 15px;
  font-family: "Poppins", sans-serif;

}

.card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}



